<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--组件扫描  主要扫描controller-->
    <context:component-scan base-package="com.panhao.controller"></context:component-scan>
<!--    配置mvc注解驱动-->
    <mvc:annotation-driven/>
<!--    内部资源视图解析器-->
    <bean id="resourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-IrNF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
<!--    开放静态资源的访问权限-->
    <mvc:default-servlet-handler/>
</beans>